.App {
  text-align: center;
}


table.param-table {
  margin: auto;
}

table.param-table td {
  text-align: right;
  padding-left: 10px;
}

table.param-table td {
  margin: auto;
}

button.run-button {
  margin: auto;
}

div.results-div {
  margin: auto;
  width: 20%;
  text-align: left;
}